p1 {
    color: darkblue;
    font-size: 25px;
    text-align:center;
}

p2 {
    color: blue;
    font-size: 15px;
    font-style: italic;
}

button {
    padding: 5px 25px 5px 25px;
}
td
{
    font-size: 30px;
    text-align:center;
}
p3
{
    font-size : 20px;

}
#corpus1 {
    color: green;
    font-size: 30px;
}

#corpus2 {
    color: red;
    font-size: 30px;
}
#hide,p
{
     text-align : center;
}
#answers
{
    text-align : center;
    font-size : 15px;
}


